// Основные цвета =================================================================================================================
$white: #fff;
$black: #1B1C21;
$pink: #FF3E79;
$gray-bg: #F8F8F8;
$gray: #7E7E82;
$cian: #41F6D7;
$cian-border: #B8FFEC;


// Шрифт по умолчанию =================================================================================================================
$fontFamily: "TTLakes";
$fontSize: 1.4rem; // 14(px) - размер шрифта по умолчанию из макета

//НАСТРОЙКИ =================================================================================================================
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1056px;
// Общий отступ у контейнера
$containerPadding: 32px;

// Ширина срабатывания первого брейк-поинта
$containerWidth: $maxWidthContainer + $containerPadding * 2;

// Брейк-поинты
$notepadL: 1440px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$notepad: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991px; // Планшеты, некоторые телефоны в горизонтальном положении
$tabletS: 768px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 575px; // Телефоны
$mobileS: 375px; // Телефоны S
