@use "sass:math";

// Подключение шрифтов =================================================================================================================
//&display=swap - добавить при подключении через плагин
//@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Open+Sans:wght@400;600&display=swap');
// Подключить если есть локальные файлы шрифтов
@import "_fonts";

// Подключение иконочных шрифтов ==============================================================================================================
// Подключить если есть локальные файлы шрифтов
@import "fonts/iconFont";

// Подключение переменных ==============================================================================================================
@import "_vars";
// Подключение миксинов ==============================================================================================================
@import "_mixins";

// Обнуление и общие параметры ==============================================================================================================
@import "vendor/reset";
@import "vendor/base";

html {
	font-size: 62.5%;
}

body {
	font-family: $fontFamily;
	font-size: $fontSize;
	background-color: $gray-bg;
	// Скролл заблокирован
	&.lock {
		touch-action: none;
		overflow: hidden;
	}
}

.page {
	width: 100%;
	height: 100%;
	// overflow: hidden;
}
/* Blocks */

@import "blocks/header";
@import "blocks/sidebar";
@import "blocks/container";
@import "blocks/services/services-intro";
@import "blocks/services/services-brands";
