<header class="header">
	<div class="header__container container">

		<div class="header__inner">
			<div class="header__left">
				<button class="header__burger btn" type="button" id="burger">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="header__line line"></div>
				<div class="header__logo">
					<img src="@img/icons/logo.svg" alt="">
				</div>
			</div>
			<div class="header__right">
				<div class="header__menu menu">
					<div class="menu__tablet">
						<button class="menu__btn btn icons__icon-phone" type="button"></button>
						<button class="menu__btn btn icons__icon-chat" type="button"></button>
						<button class="menu__btn btn icons__icon-profile" type="button"></button>
					</div>
					<div class="menu__line line"></div>
					<div class="menu__phone">
						<button class="menu__btn btn icons__icon-repair" type="button"></button>
						<button class="menu__btn btn icons__icon-search" type="button"></button>
					</div>
				</div>
			</div>
		</div>

	</div>
</header>
