<aside class="sidebar" id="sidebar">
	<div class="sidebar__menu sidebar-menu">
		<header class="sidebar-menu__header sidebar-header">
			<button class="sidebar-header__close btn icons__icon-sidebar-close" type="button" id="sidebar-close"></button>
			<div class="sidebar-header__logo">
				<a href="#" tabindex="1"><img src="@img/icons/logo.svg" alt=""></a>
			</div>
			<button class="sidebar-header__btn btn icons__icon-sidebar-search" type="button"></button>
		</header>
		<nav class="sidebar-menu__nav sidebar-nav">
			<ul class="sidebar-nav__list">
				<li><a class="sidebar-nav__link" href="#">Ремонт техники</a></li>
				<li><a class="sidebar-nav__link active" href="#">Услуги и сервисы</a></li>
				<li><a class="sidebar-nav__link" href="#">Корпоративным клиентам</a></li>
				<li><a class="sidebar-nav__link" href="#">Продавцам техники</a></li>
				<li><a class="sidebar-nav__link" href="#">Партнерам</a></li>
				<li><a class="sidebar-nav__link" href="#">Производителям</a></li>
				<li><a class="sidebar-nav__link" href="#">Наши сервисные центры</a></li>
				<li><a class="sidebar-nav__link" href="#">Контакты</a></li>
			</ul>
		</nav>
		<footer class="sidebar-menu__footer sidebar-footer">
			<div class="sidebar-footer__content">
				<div class="sidebar-footer__buttons">
					<button class="sidebar-footer__btn btn icons__icon-phone"></button>
					<button class="sidebar-footer__btn btn icons__icon-chat"></button>
					<button class="sidebar-footer__btn btn icons__icon-profile"></button>
				</div>
				<div class="sidebar-footer__email">
					<a href="mailto:mail@cps.com">mail@cps.com</a>
				</div>
				<div class="sidebar-footer__phone">
					<a href="tel:88008908900">8 800 890 8900</a>
				</div>
			</div>
			<div class="sidebar-footer__lang footer-lang">
				<ul class="footer-lang__list">
					<li class="footer-lang__item">
						<label class="footer-lang__radio">
							<input class="footer-lang__input" type="radio" checked name="lang-radio">
							<span class="footer-lang__text">RU</span>
						</label>
					</li>
					<li class="footer-lang__item">
						<label class="footer-lang__radio">
							<input class="footer-lang__input" type="radio" name="lang-radio">
							<span class="footer-lang__text">EN</span>
						</label>
					</li>
					<li class="footer-lang__item">
						<label class="footer-lang__radio">
							<input class="footer-lang__input" type="radio" name="lang-radio">
							<span class="footer-lang__text">CH</span>
						</label>
					</li>
				</ul>
			</div>
		</footer>
	</div>
	<div class="sidebar__bg" id="sidebar-background"></div>
</aside>